%M% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%% ex: ft=erlang ts=4 sw=4 et
%%%
%%% This file is part of cowboy_revproxy released under the MIT license. 
%%% See the NOTICE for more information.

{deps,[
    {cowboy, "0.6.1", {git, "git://github.com/extend/cowboy.git", "af07e048e3b3dcda1c1b80e5b664b9939100a7dd"}}
]}.
